.color{
    background-image: url('../../assets/images/recharge.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
/* .hd
{
    background-color: red;
}
.text-muted{
    background-color: blue;
} */