<div > <h1 style="background-color: rgb(56, 185, 179);"><strong>PREPAID PLANS</strong></h1>    </div>   
                  
<!-- PRICING TABLE STYLE 1-->
 <div class="container">
     <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading">POPULAR PLANS</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost warning-bg"><strong><h1>RS.199 </h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <!-- <div class="price_table_row">RS.499</div> -->
                     <div class="price_table_row">1.5GB PER DAY</div>
                
                     <div class="price_table_row">Unlimited Calls</div>
                   
                 
                     <div class="price_table_row">Validity:28 Days</div>
                     <div class="price_table_row">Limited upto 42GB</div>
                     
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">10 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-warning btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PRE199" (click)="gotoplan('PRE199')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
             <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> PREMIUM</strong></div>                              
             <div class="price_table_container">
                 <div class="price_table_heading">WORK FROM HOME </div>
                 <div class="price_table_body">
                     <div class="price_table_row cost primary-bg"><strong><h1>RS.251</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                  
                     <div class="price_table_row">50GB </div>
                    
                     <div class="price_table_row">Validity:30 Days</div>
                     
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">50 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-primary btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PRE251" (click)="gotoplan('PRE251')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading"> CRICKET PACK</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost success-bg"><strong><h1>RS.749</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                   
                     <div class="price_table_row">84GB  </div>
                     
                     <div class="price_table_row">Validity:56 Days</div>
                     <div class="price_table_row">DISNEY+HOTSTAR</div>
                    
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">100 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-success btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PRE499" (click)="gotoplan('PRE499')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading">LONG TERM PLAN</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost info-bg"><strong><h1>RS.4999</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                  
                     <div class="price_table_row">Unlimited 350 GB INTERNET</div>
                     <div class="price_table_row">Unlimited  Calls and SMS</div>
                

                     <div class="price_table_row">Validity:360 Days</div>
                  
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">1000 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <button class="btn btn-success btn-round m-top-40" id="PRE4999" (click)="gotoplan('PRE4999')">Buy Now</button>
             </div>
         </div>
     </div>
 </div>
 <!-- PRICING TABLE STYLE 1-->
 
 <!-- SPACER-->
 <div class="spacer"></div>
 <!-- SPACER-->

        
        
           <!-- <div style="text-align: center;margin-top: 150px; margin-bottom:100px"> | <a href="http://bootstrapthemes.co/"target="_blank"> Snippet By Bootstrapthemes.co </a> |</div> -->
           <div > <h1 style="background-color: rgb(56, 185, 179);"><strong>ADD ON</strong></h1>    </div>   
                  
           <!-- PRICING TABLE STYLE 1-->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                        <div class="price_table_container">
                            <div class="price_table_heading">Starter</div>
                            <div class="price_table_body">
                                <div class="price_table_row cost warning-bg"><strong><h1>RS.99 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                                <div class="price_table_row">1GB/PER DAY</div>
                              
                                <!-- <div class="price_table_row">10 Email Addresses</div>
                                <div class="price_table_row">Free Backup</div>
                                <div class="price_table_row">Full Time Support</div>                                                 -->
                            </div>
                            <!-- <a href="#" class="btn btn-warning btn-lg btn-block">BUY NOW</a> -->
                            <button class="btn btn-success btn-round m-top-40" id="PREA99" (click)="gotoplan('PREA99')">Buy Now</button>
                        </div>
                    </div>
            
                    <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                        <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>                              
                        <div class="price_table_container">
                            <div class="price_table_heading">Basic</div>
                            <div class="price_table_body">
                                <div class="price_table_row cost primary-bg"><strong><h1>RS.199 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                                <div class="price_table_row">1.5GB/PER DAY</div>
                               
                                <!-- <div class="price_table_row">50 Email Addresses</div>
                                <div class="price_table_row">Free Backup</div>
                                <div class="price_table_row">Full Time Support</div>                                                 -->
                            </div>
                            <!-- <a href="#" class="btn btn-primary btn-lg btn-block">BUY NOW</a> -->
                            <button class="btn btn-success btn-round m-top-40" id="PREA199" (click)="gotoplan('PREA199')">Buy Now</button>
                        </div>
                    </div>
            
                    <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                        <div class="price_table_container">
                            <div class="price_table_heading">Premium</div>
                            <div class="price_table_body">
                                <div class="price_table_row cost success-bg"><strong><h1>RS.299 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                                <div class="price_table_row">2GB/PER DAY</div>
                              
                                <!-- <div class="price_table_row">100 Email Addresses</div>
                                <div class="price_table_row">Free Backup</div>
                                <div class="price_table_row">Full Time Support</div>                                                 -->
                            </div>
                            <!-- <a href="#" class="btn btn-success btn-lg btn-block">BUY NOW</a> -->
                            <button class="btn btn-success btn-round m-top-40" id="PREA299" (click)="gotoplan('PREA299')">Buy Now</button>
                        </div>
                    </div>
            
                    <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                        <div class="price_table_container">
                            <div class="price_table_heading">Master</div>
                            <div class="price_table_body">
                                <div class="price_table_row cost info-bg"><strong><h1>RS.399 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                                <div class="price_table_row">3GB/PER DAY</div>
                               
                                <!-- <div class="price_table_row">1000 Email Addresses</div>
                                <div class="price_table_row">Free Backup</div>
                                <div class="price_table_row">Full Time Support</div>                                                 -->
                            </div>
                            <!-- <a href="#" class="btn btn-info btn-lg btn-block">BUY NOW</a> -->
                            <button class="btn btn-success btn-round m-top-40" id="PREA399" (click)="gotoplan('PREA399')">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRICING TABLE STYLE 1-->
            
            <!-- SPACER-->
            <div class="spacer"></div>
            <!-- SPACER-->
 