<div > <h1 style="background-color: rgb(56, 185, 179);"><strong>postpaid PLANS</strong></h1>    </div>   
                  
<!-- PRICING TABLE STYLE 1-->
 <div class="container">
     <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading">INFINITY FAMILY</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost warning-bg"><strong><h1>RS.399 </h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <!-- <div class="price_table_row">RS.499</div> -->
                     <div class="price_table_row">1 Regular SIM</div>
                     <div class="price_table_row">40GB Per Month</div>
                     <div class="price_table_row">Unlimited Local/STD/Roaming Calls</div>
                   
                     <div class="price_table_row">100 SMS PER DAY</div>
                     <div class="price_table_row">Validity:30 Days</div>
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">10 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-warning btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PO399" (click)="gotoplan('PO399')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
             <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> PREMIUM</strong></div>                              
             <div class="price_table_container">
                 <div class="price_table_heading">INFINITY FAMILY</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost primary-bg"><strong><h1>RS.499</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <div class="price_table_row">1 Regular SIM</div>
                     <div class="price_table_row">75GB Per Month</div>
                     <div class="price_table_row">Unlimited Local/STD/Roaming Calls</div>
                     <div class="price_table_row">100 SMS PER DAY</div>
                     <div class="price_table_row">Validity:30 Days</div>
                     
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">50 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-primary btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PO499" (click)="gotoplan('PO499')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading"> FAMILY INFINITY</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost success-bg"><strong><h1>RS.749</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <div class="price_table_row">1 Regular SIM + 1 Family Add-ons</div>
                     <div class="price_table_row">125GB Per Month </div>
                     <div class="price_table_row">Unlimited Local/STD/Roaming Calls</div>
                     <div class="price_table_row">100 SMS PER DAY</div>
                     <div class="price_table_row">Validity:30 Days</div>
                    
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">100 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <!-- <a href="#" class="btn btn-success btn-lg btn-block">BUY NOW</a> -->
                 <button class="btn btn-success btn-round m-top-40" id="PO749" (click)="gotoplan('PO749')">Buy Now</button>
             </div>
         </div>
 
         <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
             <div class="price_table_container">
                 <div class="price_table_heading">FAMILLY INFINITY</div>
                 <div class="price_table_body">
                     <div class="price_table_row cost info-bg"><strong><h1>RS.999</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                     <div class="price_table_row">1 Regular SIM + 3 Family Add-ons</div>
                     <div class="price_table_row">150GB Per Month</div>
                     <div class="price_table_row">Unlimited Local/STD/Roaming Calls</div>
                     <div class="price_table_row">100 SMS PER DAY</div>

                     <div class="price_table_row">Validity:30 Days</div>
                  
                     <div class="price_table_row">24/7 Customer Support</div>
                     <!-- <div class="price_table_row">1000 Email Addresses</div>
                     <div class="price_table_row">Free Backup</div>
                     <div class="price_table_row">Full Time Support</div>                                                 -->
                 </div>
                 <button class="btn btn-success btn-round m-top-40" id="PO999" (click)="gotoplan('PO999')">Buy Now</button>
             </div>
         </div>
     </div>
 </div>
 <!-- PRICING TABLE STYLE 1-->
 
 <!-- SPACER-->
 <div class="spacer"></div>
 <!-- SPACER-->



  
<div > <h1 style="background-color: rgb(56, 185, 179);"><strong>ADD ON</strong></h1>    </div>   
         
         <!-- PRICING TABLE STYLE 1-->
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                      <div class="price_table_container">
                          <div class="price_table_heading">Starter</div>
                          <div class="price_table_body">
                              <div class="price_table_row cost warning-bg"><strong><h1>RS.99 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                              <div class="price_table_row">1GB/PER DAY</div>
                             
                              <!-- <div class="price_table_row">10 Email Addresses</div>
                              <div class="price_table_row">Free Backup</div>
                              <div class="price_table_row">Full Time Support</div>                                                 -->
                          </div>
                          <!-- <a href="#" class="btn btn-warning btn-lg btn-block">BUY NOW</a> -->
                          <button class="btn btn-success btn-round m-top-40" id="POSA99" (click)="gotoplan('POSA99')">Buy Now</button>
                      </div>
                  </div>
          
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                      <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>                              
                      <div class="price_table_container">
                          <div class="price_table_heading">Basic</div>
                          <div class="price_table_body">
                              <div class="price_table_row cost primary-bg"><strong><h1>RS.199 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                              <div class="price_table_row">1.5GB/PER DAY</div>
                             
                              <!-- <div class="price_table_row">50 Email Addresses</div>
                              <div class="price_table_row">Free Backup</div>
                              <div class="price_table_row">Full Time Support</div>                                                 -->
                          </div>
                          <!-- <a href="#" class="btn btn-primary btn-lg btn-block">BUY NOW</a> -->
                          <button class="btn btn-success btn-round m-top-40" id="POSA199" (click)="gotoplan('POSA199')">Buy Now</button>
                      </div>
                  </div>
          
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                      <div class="price_table_container">
                          <div class="price_table_heading">Premium</div>
                          <div class="price_table_body">
                              <div class="price_table_row cost success-bg"><strong><h1>RS.299 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                              <div class="price_table_row">2GB/PER DAY</div>
                           
                              <!-- <div class="price_table_row">100 Email Addresses</div>
                              <div class="price_table_row">Free Backup</div>
                              <div class="price_table_row">Full Time Support</div>                                                 -->
                          </div>
                          <!-- <a href="#" class="btn btn-success btn-lg btn-block">BUY NOW</a> -->
                          <button class="btn btn-success btn-round m-top-40" id="POSA299" (click)="gotoplan('POSA299')">Buy Now</button>
                      </div>
                  </div>
          
                  <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                      <div class="price_table_container">
                          <div class="price_table_heading">Master</div>
                          <div class="price_table_body">
                              <div class="price_table_row cost info-bg"><strong><h1>RS.399 ONLY</h1></strong><span><h1><strong>/MONTH</strong></h1></span></div>
                              <div class="price_table_row">3GB/PER DAY</div>
                             
                              <!-- <div class="price_table_row">1000 Email Addresses</div>
                              <div class="price_table_row">Free Backup</div>
                              <div class="price_table_row">Full Time Support</div>                                                 -->
                          </div>
                          <!-- <a href="#" class="btn btn-info btn-lg btn-block">BUY NOW</a> -->
                          <button class="btn btn-success btn-round m-top-40" id="POSA399" (click)="gotoplan('POSA399')">Buy Now</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- PRICING TABLE STYLE 1-->
          
          <!-- SPACER-->
          <div class="spacer"></div>
          <!-- SPACER-->

          
